aliyun-python-sdk-core
aliyun-python-sdk-kms
annotated-types
audioread
blinker
Brotli
cachetools
certifi
cffi
charset-normalizer
click
colorama
coloredlogs
contourpy
crcmod
cryptography
cycler
Cython
decorator
filelock
Flask
flask-cors
fonttools
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h2
hpack
httplib2
huggingface-hub
humanfriendly
hyperframe
idna
importlib_metadata
iniconfig
itsdangerous
Jinja2
jmespath
joblib
kiwisolver
lazy_loader
librosa
llvmlite
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
model-index
mpmath
msgpack
munkres
networkx
ninja
nltk
numba
numpy
opendatalab
openmim
openxlab
ordered-set
oss2
packaging
pandas
pillow
platformdirs
pluggy
pooch
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pycryptodome
pydantic
pydantic_core
Pygments
pyparsing
PySocks
pytest
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
resampy
rich
rsa
safetensors
scikit-learn
scipy
setuptools
six
soundfile
soxr
sympy
tabulate
tensorboardX
threadpoolctl
tokenizers
torch
tqdm
transformers
typing_extensions
tzdata
unicodedata2
uritemplate
urllib3
Werkzeug
yacs